
<!doctype html>
    <head>
        <title>{{ title }} - Mangrove Classification</title>
    </head>
    <body>
        <h1><p style="text-align:center">Welcome to the Mangrove Classification Application</p></h1>
       
        <form method="POST">
            Please enter your file path here: <input type="text" name="file_path" required><br>
            <input type="submit" value="Submit"><br>
        </form>
        
        <!--
        <a href="/classify">Go to Classify Page</a>
        --->

    </body>
</html>

